@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #ced2f8;
  --textColor: #0151ad;
  --primaryColor: #7c0fb0;
  --accentColor: #46ea1e;
  --darkModeColor: #0e0e20;
}
* {
  margin: 0;
  padding: 0;
}
